<div id="commentSection" class="border-t border-white/10 pt-4">
    <h4 class="text-xs font-bold mb-3 italic">💬 Komentar</h4>

    <input
        id="commentName"
        placeholder="Nama"
        class="flex-1 mb-2 bg-slate-900 p-3 rounded-lg outline-none text-[10px] border border-white/5 w-full"
    >

    <textarea
        id="commentInput"
        placeholder="Tulis komentar..."
        class="w-full bg-slate-900 p-3 rounded-lg outline-none text-[10px] border border-white/5"
    ></textarea>

    <button
        id="commentBtn"
        type="button"
        class="bg-blue-600 px-3 py-1 rounded-lg text-[10px] font-bold mt-2"
    >
        Kirim
    </button>

    <div id="commentList" class="mt-4"></div>
</div>