:root {
    /* DARK MODE */
    --bg-main: linear-gradient(180deg, #1a2a4a 0%, #243b6b 45%, #1e293b 100%);
    --bg-card: rgba(20,41,74,.78);
    --bg-header: rgba(26, 42, 74, 1.0);
    --bg-nav: rgba(20, 41, 74, 0.85);
    --bg-bor-b: rgba(15, 30, 58, 0.88);
    --bg-glass: rgba(20, 41, 74, 0.78);
    --bg-thum: rgba(255,255,255,0.03);
    --bg-modl: rgba(43, 71, 127, 0.7);
    --bg-modl-c: rgba(17, 34, 64, 0.96);
    --bg-tbl-wrp: rgba(255, 255, 255, 0.15);
    --bg-fb-btn: linear-gradient(180deg, rgba(30, 41, 59, 0.65), rgba(21, 30, 45, 0.75));
    --bg-pop-iner: linear-gradient(165deg, rgba(10,20,40,.82) 0%, rgba(15,30,55,.98) 100%);
    --bg-pop-itm: rgba(255,255,255,.025);
    --bg-pop-url: rgba(15,23,42,.75);
    --bg-scmt: rgba(30, 41, 59, 0.65);
    --bg-vew-pop: rgba(15,23,42,.88);

    --text-main: #ffffff;
    --text-soft: #cbd5e1;
    --border: rgba(255,255,255,.08);
    --primary: #60a5fa;
    --primary-hover: #93c5fd;
    --icon-filter: brightness(0) invert(1); /* Ikon putih di dark mode */
}

body.light {
    /* LIGHT MODE */
    --bg-main: #ffffff;
    --bg-card: #ffffff;
    --bg-header: rgba(255, 255, 255, 0.95);
    --bg-nav: rgba(255, 255, 255, 0.85);
    --bg-bor-b: rgba(255, 255, 255, 0.92);
    --bg-glass: rgba(255, 255, 255, 0.9);
    --bg-thum: rgba(0, 0, 0, 0.03);
    --bg-modl: rgba(255, 255, 255, 0.8);
    --bg-modl-c: rgba(255, 255, 255, 0.98);
    --bg-tbl-wrp: rgba(0, 0, 0, 0.15);
    --bg-fb-btn: linear-gradient(180deg, #ffffff, #f8fafc);
    --bg-pop-iner: linear-gradient(165deg, #ffffff 0%, #f8fafc 100%);
    --bg-pop-itm: rgba(0, 0, 0, 0.02);
    --bg-pop-url: rgba(0, 0, 0, 0.02);
    --bg-scmt: #ffffff;
    --bg-vew-pop: rgba(255, 255, 255, 0.95);

    --text-main: #000000;
    --text-soft: #475569;
    --border: rgba(0,0,0,.08);
    --primary: #2563eb;
    --primary-hover: #1d4ed8;
    --icon-filter: brightness(0); /* Ikon hitam di light mode */
}
